<launch>
	<node name="drone_1" pkg="drone_simulator" type="drone.py" output="screen">
		<rosparam param="x0">[0,0,0,0,0,0,0,0,0,0,0,0]</rosparam>
		<rosparam param="u_init">[0.000, 0.000, 0.000, 0.000]</rosparam>
	</node>
	<!--
	<node name="drone_2" pkg="drone_simulator" type="drone.py">
		<rosparam param="x0">[-1,-1,0,0,0,0,0,0,0,0,0,0]</rosparam>
		<rosparam param="u_init">[0.000, 0.000, 0.000, 0.000]</rosparam>
	</node>
	-->

	<node pkg="drone_controller" type="controller.py" name="controller_1" output="screen">
		<param name="drone" type="str" value="drone_1"/>
		<rosparam param="u_init">[0.00, 0.000, 0.000, 0.000]</rosparam>
		<rosparam param="ts">[0.1]</rosparam>
		<rosparam param="P">[10,10,10,10,10,1,1,1,1,10,10,1]</rosparam>
		<rosparam param="Q">[10,10,10,10,10,1,1,1,1,10,10,1]</rosparam>
		<rosparam param="R">[0.1,0.1,0.1,0.1]</rosparam>
		<rosparam param="xbar">[1,1,1,0,0,0,0,0,0,0,0,0]</rosparam>
		<rosparam param="ubar">[0,0,0,0]</rosparam>
		<rosparam param="x0">[0,0,0,0,0,0,0,0,0,0,0,0]</rosparam>
	</node>
	<!--
	<node pkg="drone_controller" type="controller.py" name="controller_2" output="screen">
		<param name="drone" type="str" value="drone_2"/>
		<rosparam param="u_init">[0.00, 0.000, 0.000, 0.000]</rosparam>
		<rosparam param="ts">[0.1]</rosparam>
		<rosparam param="P">[1,1,8,1,1,1,1,1,1,1,1,1]</rosparam>
		<rosparam param="Q">[1,1,8,1,1,1,1,1,1,1,1,1]</rosparam>
		<rosparam param="R">[1,1,1,1]</rosparam>
		<rosparam param="xbar">[0,0,1,0,0,0,0,0,0,0,0,0]</rosparam>
		<rosparam param="ubar">[0,0,0,0]</rosparam>
		<rosparam param="x0">[-1,-1,0,0,0,0,0,0,0,0,0,0]</rosparam>
	</node>
	<node name="tf_pub" pkg="drone_simulator" type="tf_pub.py" />
	<node name="viz" pkg="drone_viz" type="drone.py" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find drone_viz)/launch/rviz_conf.rviz" /> 
	<node name="record_viz" pkg="rosbag" type="record" 
		args="-O ./viz/ /viz/drone_markers"
		if="$(arg record_viz)"
		output="screen"
	/>-->

	<node name="god" pkg="drone_simulator" type="god.py" output="screen">
		<param name="num_drones" type="int" value="1"/>
	</node>

</launch>
