<launch>
	<!--<node name="tf_pub" pkg="drone_simulator" type="tf_pub.py" />
	<node name="viz" pkg="drone_viz" type="drone.py" />-->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find drone_viz)/launch/rviz_conf.rviz" /> 
	<node name="drone_1" pkg="drone_viz" type="fake_node.py" output="screen">
	</node>
	<node name="drone_2" pkg="drone_viz" type="fake_node.py" output="screen">
	</node>
	<node name="drone_3" pkg="drone_viz" type="fake_node.py" output="screen">
	</node>
	<node name="box" pkg="drone_viz" type="fake_node.py" output="screen">
	</node>
</launch>
